*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gochi Hand", cursive;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 3.283rem;
}

@media (max-width: 768px) {
  body {
    font-size: 2rem;
    line-height: 2.052rem;
  }
}
